@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body {
    background-color: #5B2386;
    font-family: 'GmarketSansMedium';
    color: #ffffff;
}

.container {
    width: 765px;
    margin: 0 auto;
    text-align: center;


}

.main-logo {
    display: inline-block;
    width: 564px;
    background-image: url(/img/clock.png);
    background-repeat: no-repeat;
    margin-top: 74px;
}

.tit-timelaw {
    width: 564px;
    height: 265px;
    text-align: center;
    margin: 0 auto;
    background-image: url(/img/clock.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.img-txt {
    margin-top: 46px;
    margin-bottom: 78px;
}

.txt-desc {
    margin-bottom: 102px;
    width: 373px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/img/quotes.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
}

.cont-inp {
    margin-bottom: 115px;
    font-size: 24px;
    font-weight: 400px;
}

footer {
    margin-bottom: 42px;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;

}

.txt-copy {
    margin-top: 20px;
}

footer>p {
    font-family: 'Noto Sans KR';
}

.tit-desc {
    font-weight: 700;
    font-size: 24px;
}

input {
    border-radius: 7px;
    border: #ffffff;
    font-size: 24px;
    text-align: center;
    color: #BABCBE;
    font-weight: 400;
    width: 228px;
    height: 57px;
}

.txt-wannabe {
    margin-bottom: 27px;
}

.btn-exc {
    background-color: #FCEE21;
    border-radius: 56px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: #FCEE21;
    text-align: center;
    font-size: 24px;
    color: #5B2386;
    width: 565px;
    height: 66px;
    font-weight: 700;




}

.click {
    margin: 0px;
    position: absolute;
    top: 15px;

}

.click-containter {

    position: relative;
}